.buttons {
	height: 25px;
	margin-right: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.r1 {
	display: block;
	margin-right: 20%;
	margin-left: 2rem;
}

.underline {
	text-decoration: underline;
}

.question {
	margin-left: 2rem;
}

.label {
	margin-left: 2rem;
	text-decoration: underline;
}

.response {
	margin-left: 2rem;
	width: 30%;
}