.buttons {
  height: 25px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.questionnaireForm {
  display: block;
  margin-right: 20%;
  margin-left: 2rem;
}

.theme {
  margin-top: 2rem;
  margin-left: 2rem;
}

.question {
  margin-top: 2rem;
  margin-left: 2rem;
}

.label {
  margin-left: 2rem;
}

.response {
  margin-left: 2rem;
  width: 30%;
}
